<div class="mdl-grid {{showMe logs}}">
    {{#each logs}}
    <div class="mdl-cell mdl-cell--2-col"></div>
    <table class="mdl-data-table mdl-js-data-table mdl-cell--8-col mdl-cell--8-col-tablet margin-bottom-10 mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Elev</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Periode</th>
            <th class="mdl-data-table__cell--non-numeric">Dato</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{studentName}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{documentCategory}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{period}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{formatDate timeStamp}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="4">
                <p class="fontBigger">
                    {{{newlineToBr gradesCategories}}}{{{newlineToBr orderCategories}}}{{{newlineToBr behaviourCategories}}}
                </p>
                <p class="fontBigger">{{{newlineToBr coursesList}}}</p>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="4">
                {{#each documentStatus}}
                  {{formatDateTime timeStamp}} - {{status}}<br/>
                {{/each}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mdl-cell mdl-cell--2-col"></div>
    {{/each}}
</div>