<div class="mdl-grid {{showMe logs}}">
    <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Logg</th>
            <th class="mdl-data-table__cell--non-numeric">Elev</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Dato</th>
            <th class="mdl-data-table__cell--non-numeric">Sendt av</th>
            <th class="mdl-data-table__cell--non-numeric">Varsel</th>
            <th class="mdl-data-table__cell--non-numeric">Samtale</th>
        </tr>
        </thead>
        <tbody>
        {{#each logs}}
        <tr id="{{documentId}}" class="{{highlightMe documentId ../latestId}}">
            <td class="mdl-data-table__cell--non-numeric">
                <a href="/logs?studentId={{studentId}}" title="Vis aktivitetslogg for {{studentName}}" class="mdl-color-text--black">
                    <span class="material-icons">list</span>
                </a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{studentName}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{documentCategory}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{latestDocumentStatus documentStatus}}</td>
            <td class="mdl-data-table__cell--non-numeric"><a href="/logs?documentId={{_id}}" title="Vis varselet">{{latestDocumentStatusTimestamp documentStatus}}</a></td>
            <td class="mdl-data-table__cell--non-numeric">{{userName}}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="/warning/{{studentUserName}}" title="Skriv nytt varsel til {{studentName}}" class="mdl-color-text--black">
                    <span class="material-icons">note_add</span>
                </a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="/followup/{{studentUserName}}" title="Dokumenter ny samtale med {{studentName}}" class="mdl-color-text--black">
                    <span class="material-icons">group_add</span>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>