<div class="mdl-typography--headline document-form-header chxBxsamtale margin-top-10">Momenter til elevsamtale</div>
<div class="document-form-header chxBxsamtale">
    Områder vi tenker det kan være naturlig å samtale om
    <div class="mdl-typography--headline document-form-header margin-top-10">Skolehistorie</div>
    <ul>
        <li>Hvilken skole/skoler har du vært elev ved?</li>
        <li>Hvorfor har du valgt dette utdanningsprogrammet?</li>
        <li><i>For minoritetsspråklige elever:</i>
            <ul>
                <li>Hvis du har opprinnelse fra et annet land enn Norge, hvilket?</li>
                <li>Hvor lenge har du bodd i Norge?</li>
                <li>Kjenner du morsmålet ditt både skriftlig og muntlig?</li>
                <li>Bor du sammen med familien din?</li>
                <li>Har du hatt opplæring i engelsk?</li>
            </ul>
        </li>
    </ul>

    <div class="mdl-typography--headline document-form-header margin-top-10">Fag</div>
    <ul>
        <li>Hvilke fag syns du at du gjør det godt i?</li>
        <li>Hvilke fag ønsker du å gjøre det bedre i, og hva er spesielt vanskelig i dette eller disse fagene?</li>
        <li>Hva kan skolen og lærerne gjøre for at du skal lykkes?</li>
        <li>Hva tror du at du selv kan gjøre for å oppnå bedre resultat?</li>
        <li>Har du hatt ekstra hjelp i fag tidligere?</li>
    </ul>
    <div class="mdl-typography--headline document-form-header margin-top-10">Andre behov?</div>
    <ul>
        <li>Ift helsebehov?</li>
        <li>Samtale med helsesøster/rådgiver/PPT</li>
    </ul>
    <div class="mdl-typography--headline document-form-header margin-top-10">Fravær, orden og atferd</div>
    <ul>
        <li>På hvilken måte holder du kontroll over ditt eget fravær?</li>
        <li>På hvilken måte informerer du lærerne dine når du er borte fra skolen?</li>
        <li>Hvordan er din orden og atferd?</li>
    </ul>
    <div class="mdl-typography--headline document-form-header margin-top-10">Eventuelt</div>
    <ul>
        <li>Er det noe jeg som kontaktlærer bør vite som er av betydning for skolegangen din?</li>
    </ul>
</div>
<div class="mdl-typography--headline document-form-header chxBxsamtale margin-top-10">Dokumentasjon</div>
<div class="document-form-header chxBxsamtale">
{{#each samtale}}
<label for="samtaleChkbox{{id}}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect chxBxsamtale">
    <input type="radio" name="samtaleCategories" value="{{value}}" id="samtaleChkbox{{id}}" class="mdl-radio__button chxBxsamtale">
    <span class="mdl-radio__label">{{description}}</span>
</label>
{{/each}}
</div>