<div class="profile-card fullWidth">
    <div class="profile-picture {{featureToggle features.usePictures}} float-left">{{{profilePicture}}}</div>
    <div class="profile-card-info">
        <h1 class="margin-top-0">{{student.fullName}}</h1>
        {{student.unitName}}<br/>
        {{stripSchoolId student.mainGroupName}}<br/>
        {{birthdateFromId student.personalIdNumber}}<br/>
        <a href="tel:{{student.mobilePhone}}" title="Ring til {{student.mobilePhone}}" target="_blank">{{student.mobilePhone}}</a><br/>
        <a href="mailto:{{student.mail}}" title="Send e-post til {{student.mail}}" target="_blank">{{student.mail}}</a>
    </div>
</div>