<div class="mdl-typography--headline">Type varsel</div>
{{#each warningTypes}}
    <label for="type-{{id}}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
        <input type="radio" name="type" value="{{value}}" id="type-{{id}}" class="mdl-radio__button warning-type-selector">
        <span class="mdl-radio__label">{{description}}</span>
    </label>
{{/each}}
<div class="mdl-typography--headline margin-top-10">Varselet gjelder</div>
<label for="terminRadioCourse1" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
    <input type="radio" name="warningPeriod" value="Halvårsvurdering 1. termin" id="terminRadioCourse1" class="mdl-radio__button period-selector">
    <span class="mdl-radio__label">Halvårsvurdering 1. termin</span>
</label><br/>
<label for="terminRadioCourse2" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
    <input type="radio" name="warningPeriod" value="Halvårsvurdering 2. termin" id="terminRadioCourse2" class="mdl-radio__button period-selector">
    <span class="mdl-radio__label">Halvårsvurdering 2. termin</span>
</label><br/>
<label for="terminRadioCourse3" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
    <input type="radio" name="warningPeriod" value="Standpunktkarakter" id="terminRadioCourse3" class="mdl-radio__button period-selector">
    <span class="mdl-radio__label">Standpunktkarakter</span>
</label>