<div id="previewModal" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 class="modal__title-text">{{student.fullName}}</h2>
                </div>
                <span class="mdl-button mdl-button--icon mdl-js-button  material-icons  modal__close"></span>
            </div>
            <div class="modal__text">
                <div>
                    Forhåndsvisning av hva som vil legges i brevmalen.
                </div>
                <ul id="warningPreviewText" class="previewUL"></ul>
            </div>
            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored mdl-js-button modal__close mdl-color-text--black">
                    Lukk
                </a>
            </div>
        </div>
    </div>
</div>