<div class="mdl-typography--headline document-form-header chxBxPlanSkole margin-top-10" id="planSkoleTableHeading">Lokal læreplan innhold</div>
<table id="planLinjerTable" class="fullWidth">
    <thead>
    <tr>
        <th>Kompetansemål</th>
        <th>Utplasseringssted</th>
        <th>Fjern</th>
    </tr>
    </thead>
    <tbody>
        {{#each maal}}
            <tr class="hoverGrey">
                <td>{{kompetanseMaal}}</td>
                <td>{{utplasseringsSted}}</td>
                <td><button>Slett</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>