<div class="mdl-typography--headline document-form-header chxBxPlanSkole margin-top-10" id="planSkoleTableHeading">Lokal læreplan innhold</div>
<table id="planLinjerTable" class="fullWidth">
    <thead>
    <tr>
        <th>Kompetansemål</th>
        <th>Utplasseringssted</th>
        <th>Fjern</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                planlegge, gjennomføre og dokumentere eget arbeid ved oppgradering og fornyelse på produksjonsanleggets lav- og høyspenningsanlegg
            </td>
            <td>
                Elkraft deLuxe, avdeling Sandefjord
            </td>
            <td><button>Slett</button></td>
        </tr>
        <tr>
            <td>
                planlegge, montere og dokumentere eget arbeid ved idriftsetting av effekt, skillebrytere og styringsanleggene for produksjonsanlegg
            </td>
            <td>
                Elkraft deLuxe, avdeling Sandefjord
            </td>
            <td><button>Slett</button></td>
        </tr>
        <tr>
            <td>
                ha kjennskap til regelverk for elektronisk kommunikasjon
            </td>
            <td>
                Skogmo videregående skole
            </td>
            <td><button>Slett</button></td>
        </tr>
        <tr>
            <td>
                feilsøke og iverksette tiltak for å gjenopprette normal drift
            </td>
            <td>
                Feilslått UB
            </td>
            <td><button>Slett</button></td>
        </tr>
    </tbody>
</table>