<div class="mdl-typography--headline document-form-header chxBxPlanUB margin-top-10" id="planUBTableHeading">Ungdomsbedrift (entreprenørskap)</div>
<table id="planUBTable" class="mdl-data-table mdl-js-data-table fullWidth">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Programområde</th>
        <th class="mdl-data-table__cell--non-numeric">Bedriftens produksjonsområde</th>
        <th class="mdl-data-table__cell--non-numeric">Fjern</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>