<div class="mdl-typography--headline document-form-header chxBxPlanSkole margin-top-10">Samarbeid med andre skoler</div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="addPlanSkole">Legg til</button>
<table id="planSkoleTable" class="mdl-data-table mdl-js-data-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Utdanningsprogram</th>
            <th class="mdl-data-table__cell--non-numeric">Kompetansemål</th>
            <th class="mdl-data-table__cell--non-numeric">Skole</th>
            <th class="mdl-data-table__cell--non-numeric">Fjern</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    function toggleTable () {
      const table = document.getElementById('planSkoleTable')
      const body = table.getElementsByTagName('tbody')[0]
      const trs = body.getElementsByTagName('tr')
      table.style.display = trs.length > 0 ? '' : 'none'
    }

    function removeRow (id) {
      const row = document.getElementById(id)
      row.parentNode.removeChild(row)
      toggleTable()
    }

    function createInput (name) {
      const id = new Date().getMilliseconds()
      const div = document.createElement('div')
      const input = document.createElement('input')
      const label = document.createElement('label')
      div.classList.add('mdl-textfield')
      div.classList.add('mdl-js-textfield')
      div.classList.add('mdl-textfield--floating-label')
      input.classList.add('mdl-textfield__input')
      label.classList.add('mdl-textfield__label')
      input.setAttribute('id', id)
      input.setAttribute('name', name)
      label.setAttribute('for', id)
      div.appendChild(input)
      div.appendChild(label)
      return div
    }

    function addSkole () {
      const rowId = uuidv4()
      const table = document.getElementById('planSkoleTable')
      const body = table.getElementsByTagName('tbody')[0]
      const tr = document.createElement('tr')
      const programCelle = document.createElement('td')
      const kompetanseCelle = document.createElement('td')
      const skoleCelle = document.createElement('td')
      const slettCelle = document.createElement('td')
      const slettButton = document.createElement('button')

      tr.setAttribute('id', rowId)
      slettButton.setAttribute('id', `slett${rowId}`)
      slettButton.innerHTML = 'Slett'
      slettButton.classList.add('mdl-button')
      slettButton.classList.add('mdl-js-button')
      slettButton.classList.add('mdl-button--raised')
      slettButton.classList.add('mdl-js-ripple-effect')
      programCelle.classList.add('mdl-data-table__cell--non-numeric')
      programCelle.appendChild(createInput('program'))
      kompetanseCelle.classList.add('mdl-data-table__cell--non-numeric')
      kompetanseCelle.appendChild(createInput('kompetanse'))
      skoleCelle.classList.add('mdl-data-table__cell--non-numeric')
      skoleCelle.appendChild(createInput('program'))
      slettCelle.classList.add('mdl-data-table__cell--non-numeric')
      slettCelle.appendChild(slettButton)
      tr.appendChild(programCelle)
      tr.appendChild(kompetanseCelle)
      tr.appendChild(skoleCelle)
      tr.appendChild(slettCelle)

      body.appendChild(tr)

      document.getElementById(`slett${rowId}`).addEventListener('click', (e) => {
        e.preventDefault()
        const id = e.target.id.replace('slett', '')
        document.getElementById(e.target.id).removeEventListener('click', (e) => console.log('removed'))
        removeRow(id)
      })
      toggleTable()
    }

    document.getElementById('addPlanSkole').addEventListener('click', (e) => {
      e.preventDefault()
      addSkole()
    })

    toggleTable()
</script>