<div class="mdl-typography--headline document-form-header margin-top-10 utplasseringsVelger">Utdanningsprogram <span class="required">*</span></div>
<div id="utdanningsprogramWrapper" class="utdanningsprogramVelger">
    <select name="utdanningsprogramvelger" id="utdanningsprogramVelger" class="margin-top-10" required>
        <option value="">Velg utdanningsprogram</option>
        {{#each utdanningsProgrammer}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</div>