<div class="mdl-typography--headline document-form-header chxBxPlanFelles margin-top-10">Fellesfag</div>
<table id="planFellesTable" class="mdl-data-table mdl-js-data-table fullWidth">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Fellesfag</th>
        <th class="mdl-data-table__cell--non-numeric">Antall timer</th>
        <th class="mdl-data-table__cell--non-numeric">Resttimer</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Norsk</td>
            <td class="mdl-data-table__cell--non-numeric">35</td>
            <td class="mdl-data-table__cell--non-numeric">101</td>
        </tr>
    </tbody>
</table>