{{>search-students-box}}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell--6-col mdl-cell--8-col-tablet">
        <span class="fontBigger">
            Du har ikke tilgang til klassen: {{groupId}}!<br/>
            Kontakt Extens-ansvarlig ved skolen for å få rettet opp i dette, dersom du mener det er feil.<br/>    
        </span>

        <br/>
        
        Sjekk følgende med Extens-ansvarlig:<br/>
        <ul>
            <li>Faglærer/kontaktlærer er koblet til rett undervisningsgruppe</li>
            <li>At undervisningsgruppen er registrert med J til webvisning</li>
            <li>At elevene i gruppa er registrert med J til webvisning</li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>