{{>search-students-box}}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell--6-col mdl-cell--8-col-tablet fontBigger">
        <strong>{{student.fullName}}</strong> er registrert feil i Extens.<br/>
        Kontakt Extens-ansvarlig ved skolen for å få rettet opp i dette.
    </div>
    <br />
    <div class="mdl-cell--6-col mdl-cell--8-col-tablet">
        <strong>Sjekk følgende med Extens-ansvarlig:</strong><br/>
        <ul>
            <li>Faglærer/kontaktlærer er koblet til rett undervisningsgruppe</li>
            <li>At undervisningsgruppen er registrert med J til webvisning</li>
            <li>Undervisningsgruppen ATF har J til webvisning, og at den inneholder samtlige elever i basisgruppen</li>
            <li>Kontaktlærer er koblet til ATF-undervisningsgruppen for din basisgruppe</li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>