{{>search-students-box}}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell--6-col mdl-cell--8-col-tablet">
        <span class="fontBigger">
            Det ser ut til at du ikke er registrert med noen elever i MinElev.<br/>
            Det skyldes mest sannsynlig at du ikke er tilknyttet noen klasser eller elever i Extens.<br/>    
        </span>

        <br/>
        
        Sjekk følgende med Extens-ansvarlig på skolen dersom du mener det er feil:<br/>
        <ul>
            <li>Faglærer/kontaktlærer er koblet til rett undervisningsgruppe</li>
            <li>At undervisningsgruppen er registrert med J til webvisning</li>
            <li>At elevene i gruppa er registrert med J til webvisning</li>
            <li>At læreren(e) er registrert med J til webvisning</li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>