<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h2 class="mdl-card__title-text">Informasjonsskriv</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--black">
            Opprett informasjonsskriv for {{student.fullName}}<br/>
            Du vil ha behov for organisasjonsnummer for bedriften.<br/>
            Du trenger også kontaktinformasjon for ansvarlig person
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/yff/information/{{student.userName}}" id="createContract" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black" title="Opprett kontrakt for {{student.fullName}}"><i class="material-icons">library_books</i></a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h2 class="mdl-card__title-text">Evaluering</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--black">
            Opprett evaluering for {{student.fullName}}<br/>
            Forutsetter at informasjonsskriv er opprettet for bedriften.<br/>
            Hvis ikke: lag det først.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/yff/evaluation/{{student.userName}}" id="createEvaluation" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black" title="Opprett evaluering for {{student.fullName}}"><i class="material-icons">equalizer</i></a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h2 class="mdl-card__title-text">Lokal læreplan</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--black">
            Opprett lokal læreplan for {{student.fullName}}<br/>
            Forutsetter at kodeverk kan hentes fra Extens<br/>
            Snakk med extensansvarlig for skolen
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/yff/plan/{{student.userName}}" id="createPlan" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black" title="Opprett lokal læreplan for {{student.fullName}}"><i class="material-icons">queue</i></a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
