.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.mdl-layout__header {
    background-color: #FFD520;
}

.mdl-card__media {
    background-color: #6AC4AE;
}

.mdl-color--primary {
    background-color: #FFD520 !important;
}

.mdl-button--accent {
    background-color: #6AC4AE !important;
}

.mdl-button--colored {
    background-color: #FFD520 !important;
}

.mdl-textfield__label:after {
    background-color: #6AC4AE !important;
}

.docs-footer.mdl-mini-footer {
    position: relative;
    height: 90px;
    margin-top: 15%;
    bottom: 0;
    padding: 24px;
}

.login-container {
    padding: 24px;
    flex: none;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-5 {
    margin-left: 5px;
}

.previewUL {
    list-style-type: none;
}

.modal {
    overflow-x: visible;
    overflow-y: visible;
    position: absolute;
}

.modal__dialog {
    width: 600px;
}

button[disabled=disabled], button:disabled {
    background-color: #B2B2B2 !important;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.hide-me {
    display: none !important;
    visibility: hidden !important;
}

.center {
    max-width: 980px;
}

.height100 {
    height: 100px;
    min-height: 100px;
}

.mdl-data-table {
    font-size: 16px;
}

.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

th.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

.mdl-textfield__input {
    border-bottom: 2px solid black;
    font-size: 20px;
}

.fontBigger {
    font-size: 16px;
}

a {
    color: #007f7a;
}

a:visited {
    color: #007c97;
}

.highlight-me {
    background-color: #cceff4;
}

/* Dialog */
.mdl-snackbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    cursor: default;
    background-color: #323232;
    z-index: 10000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    will-change: transform;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
    transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }
@media (max-width: 479px) {
    .mdl-snackbar {
        width: 100%;
        left: 0;
        min-height: 48px;
        max-height: 80px; } }
@media (min-width: 480px) {
    .mdl-snackbar {
        min-width: 288px;
        max-width: 568px;
        border-radius: 2px; } }
.mdl-snackbar--active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: auto;
    transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1); }
.mdl-snackbar__text {
    padding: 14px 24px;
    vertical-align: middle;
    color: white; }
.mdl-snackbar__action {
    background: transparent;
    border: none;
    color: rgb(255,64,129);
    text-transform: uppercase;
    padding: 14px 24px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; }
.mdl-snackbar__action::-moz-focus-inner {
    border: 0; }
.mdl-snackbar__action:not([aria-hidden]) {
    opacity: 1;
    pointer-events: auto; }

/* TOOLTIP */
.mdl-tooltip {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    will-change: unset;
    z-index: 999;
    background: rgba(97,97,97, 0.9);
    border-radius: 2px;
    color: rgb(255,255,255);
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    max-width: 170px;
    position: fixed;
    top: -500px;
    left: -500px;
    padding: 8px;
    text-align: center; }

.mdl-tooltip.is-active {
    -webkit-animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards; }

.mdl-tooltip--large {
    line-height: 14px;
    font-size: 14px;
    padding: 16px; }

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0; }
    50% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        visibility: visible; } }

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0; }
    50% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        visibility: visible; } }

/** MODAL **/

#modalPreview {
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}

.warningColor {
    color: #e30438
}

#watermark {
    position: absolute;
    z-index: 2000;
}

.mdl-card--border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fullWidth {
    width: 100%;
}

.logo {
    width: 42px;
    height: 49px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgNjggODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PGcgaWQ9Iklzb2xhdGlvbiBNb2RlIj48Zz48Y2xpcFBhdGggaWQ9Il9jbGlwMSI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjY4LjAwNCIgaGVpZ2h0PSI4MCIvPjwvY2xpcFBhdGg+PGcgY2xpcC1wYXRoPSJ1cmwoI19jbGlwMSkiPjxwYXRoIGQ9Ik0wLDBjMCwwIDAuMDUzLDI3LjUyMSA1LjQsNDQuMTYyYzQuODQ4LDE1LjA4OSAxNS43MjgsMjcuNjk2IDI4Ljc2NiwzNS44MzhjMTMuMDM5LC04LjE0MiAyMy41OSwtMjAuNzQ5IDI4LjQzOSwtMzUuODM4YzUuMzQ2LC0xNi42NDEgNS4zOTksLTQ0LjE2MiA1LjM5OSwtNDQuMTYybC02OC4wMDQsMFoiIHN0eWxlPSJmaWxsOiMyMzFmMjA7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTM0LjE2Nyw3OC42NjhjLTEzLjIwMSwtOC40MjkgLTIzLjI3NSwtMjEuMDk2IC0yNy42OTUsLTM0Ljg0OWMtNC42MjYsLTE0LjM5NSAtNS4yNTEsLTM3LjM2NiAtNS4zMzQsLTQyLjY5NGw2NS43MjksMGMtMC4wODMsNS4zMjkgLTAuNzA5LDI4LjMwMyAtNS4zMzMsNDIuNjk0Yy00LjUzNywxNC4xMTggLTE0LjI0MSwyNi40NjkgLTI3LjM2NywzNC44NDkiIHN0eWxlPSJmaWxsOiNmZmQ1MWY7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTEyLjI0MywzOS43NzNjMC4xMTIsLTAuMTEzIDAuNjEzLC0wLjYyNSAxLjA3NCwtMC45OTVjMi44MSwtMi4yNTggNy43ODQsLTYuODA0IDEzLjU1MywtNi4yMDhjNS4zMjQsMC41NTEgNy40MSw0LjU2NSA3LjQxLDQuNTY1Yy0yLjM1NCwyLjUzNiAtMy45MDgsNi4zNzcgLTQuMDI1LDkuNDg2Yy0wLjExNywzLjExIDAuODQ5LDIyLjIyMiAwLjg0OSwyMi4yMjJjMCwwIDAuMTQ4LDUuMDU2IDAuMjY4LDguMDA3YzAuOTE3LDAuNjUgMS44NDUsMS4yODMgMi43OTUsMS44OTFjMC43NzUsLTAuNDk2IDEuNTM3LC0xLjAwOCAyLjI4OCwtMS41M2wwLjQ0OSwtMjEuMjQzYzAuMjM3LC0zLjUyOSAtMC4zNzMsLTguMjQgMi41MTEsLTExLjE3NmMwLjE5MywtMC4xOTcgMS4wNzIsLTAuOTQyIDEuMDcyLC0wLjk0MmMwLDAgMC44ODIsMC43NSAxLjE0OSwwLjkyNGMwLjEzMywwLjA4NSAwLjMwNiwwLjA3IDAuNDI1LC0wLjAzM2w2LjczLC01Ljc5M2MwLjExNywtMC4xMDIgMC4xODYsLTAuMjY2IDAuMTI2LC0wLjQwOWMtMC4yMTksLTAuNTE3IC0wLjYwNywtMS4yMzEgLTAuNjA3LC0xLjIzMWMwLDAgNS40MjIsLTUuMzM1IDguODMsLTcuNzA5YzAuMzMyLC0wLjIzIDAuMTE0LC0wLjY3MyAtMC4yOTEsLTAuNDk5Yy0xLjY2LDAuNzEgLTMuNTA5LDAuNDU3IC00LjUxMiwtMC41NDVjLTAuNDMyLC0wLjQzMyAtMC42MzIsLTEuMDgyIC0xLjE2MywtMC43MjdjLTMuOTY2LDIuNjQxIC03LjIzMiwzLjY1OCAtNy4yMzIsMy42NThjLTEuMjA3LC0xLjAyNiAtMS45NTQsLTIuMDc5IC0yLjY0NywtMy4zMDVjLTMuMjYyLC02LjY1MyAtMS42MzEsLTE1LjMxIDMuMDc1LC0yMC43NjZjMS40NDEsLTEuNjk0IDIuODc2LC0yLjgxNCA0LjYyNiwtMy44MzNjMC4yMSwtMC4xMjIgMC4yNDIsLTAuNTA5IC0wLjIwOCwtMC40ODNjLTE0Ljc4NiwwLjg1NiAtMjcuOTI5LDEwLjYxNSAtMzMuNzc2LDI0LjEzOWMtMS42OTIsMy45MTYgLTMuMDE2LDguMzU4IC0zLjIsMTIuMTQ0Yy0wLjAyMSwwLjQxOCAwLjA5LDAuNzMyIDAuNDMxLDAuMzkxIiBzdHlsZT0iZmlsbDojMjMxZjIwO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik00OS41NDksMzAuOTA2YzAuNTE1LC0wLjA5MSAxLjExMywtMC4wNjEgMS4zMDIsMC4xMzdjMC4zMSwwLjMyNiAtMC40MTUsMS4zNzcgLTAuODA1LDIuMDMzYy0wLjkyNywxLjU2IC0xLjAwMiwxLjY4OSAtMS45MjYsMy4xMTVjMCwwIC0wLjA5MiwtMC42ODcgMC4wOTgsLTEuMzUzYzAuMjEyLC0wLjc0NCAwLjYxNSwtMS40MzIgMC45MDUsLTEuODczYzAuMzU2LC0wLjU0MiAwLjcyOCwtMC45MTQgMC42NjgsLTEuMTYxYy0wLjA2NSwtMC4yNjMgLTEuMDgyLDAuMDgxIC0xLjQ5MiwwLjEzNWMtMC40NjUsMC4wNjMgLTEuNjI1LDAuNDc5IC0yLjYyNiwtMC4xMDVjMCwwIDIuNzEsLTAuNzIgMy44NzYsLTAuOTI4IiBzdHlsZT0iZmlsbDojZmZkNTFmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik0zNC4wMDMsNDQuMTg1YzAuMzk3LC0wLjE0NSAyLjI2MywtMS4zNCAzLjc4MSwtMS4xNzdjMS4wNzgsMC4xMTcgMS42NjcsMC41NDYgMS42NjcsMC41NDZjLTEuMDk0LDAuMDkgLTIuMDI2LC0wLjA2MiAtMy44MSwwLjgyOWMtMC44OTksMC40NSAtMi4wMzEsMS4zNTcgLTIuNjM1LDAuNzJjLTAuNDE5LC0wLjQ0MyAtMC40MDMsLTEuMzIxIDAuMDAzLC0zLjE5OGMwLjQ0OCwtMi4wNjIgMS4yOTMsLTMuMzY2IDEuMjkzLC0zLjM2NmMwLDAgMC4wNSwwLjc2NyAtMC42NTYsNC42NjhjLTAuMTIzLDAuNjc4IC0wLjEyLDEuMTUzIDAuMzU3LDAuOTc4IiBzdHlsZT0iZmlsbDojZmZkNTFmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik0zMS44NzMsNjcuMTUyYzAsMCAtMC4xNjQsMS40MzYgMC45NjMsMi44MDZjMS4xMjgsMS4zNzEgMi43ODksMy4wNzUgMi43ODksMy4wNzVjMCwwIDAuMjg5LC0xLjE3MSAtMC44ODksLTIuNjAyYy0xLjE3NywtMS40MzIgLTIuODYzLC0zLjI3OSAtMi44NjMsLTMuMjc5IiBzdHlsZT0iZmlsbDojZmZkNTFmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik0zMS40MzQsNTYuODU5YzAsMCAtMC4wOTQsMS40ODggMS4xMzgsMi44MzhjMS4yMzQsMS4zNTMgMy4xOTksMy4yMzIgMy4xOTksMy4yMzJjMCwwIDAuMjM3LC0xLjIyMSAtMS4wNTEsLTIuNjMzYy0xLjI4NywtMS40MTEgLTMuMjg2LC0zLjQzNyAtMy4yODYsLTMuNDM3IiBzdHlsZT0iZmlsbDojZmZkNTFmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik0zMS4yMzIsNDYuNTk0YzAsMCAtMC4yMDYsMS40MjYgMS4wNzIsMi45NjFjMS4yNzksMS41MzcgMy43NTEsNC40ODQgMy43NTEsNC40ODRjMCwwIDAuMjM5LC0xLjQ0NyAtMS4wOTUsLTMuMDUzYy0xLjMzNSwtMS42MDUgLTMuNzI4LC00LjM5MiAtMy43MjgsLTQuMzkyIiBzdHlsZT0iZmlsbDojZmZkNTFmO2ZpbGwtcnVsZTpub256ZXJvOyIvPjwvZz48L2c+PC9nPjwvc3ZnPg==) no-repeat;
    vertical-align: middle;
    margin-right: 0.8rem;
    display: inline-block;
}

.systemmsg {
    padding: 5px;
    font-size: large;
}

.mdl-data-table__cell--non-numeric {
    vertical-align: text-top !important;
}